---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% set routes = ["/", "/services/", "/services/wifi-dropouts-ivanhoe/", "/services/slow-computer-help-ivanhoe/", "/services/scam-security-help-ivanhoe/", "/services/new-computer-setup-data-transfer-ivanhoe/", "/services/printer-help-ivanhoe/", "/services/email-help-ivanhoe/", "/services/new-printer-setup-ivanhoe/", "/services/password-manager-setup-ivanhoe/", "/contact/", "/toolkit/", "/legal/", "/service-terms/", "/terms/", "/privacy/", "/brand/"] %}
    {% for route in routes %}
    <url>
        <loc>https://nakedtech.au{{ route }}</loc>
    </url>
    {% endfor %}
    {% for service in services %}
    <url>
        <loc>https://nakedtech.au/services/{{ service.slug }}/</loc>
    </url>
    {% endfor %}
</urlset>
