---
layout: layouts/base.njk
title: Message Received
---
<div class="pt-40 pb-24 container mx-auto px-6 text-center max-w-2xl">
    <h1 class="text-5xl font-extrabold mb-6 text-electric-peach">Received.</h1>
    <p class="text-xl text-ivanhoe-slate mb-10">
        We have your details. If you fit the profile, we'll be in touch.
    </p>
    <a href="/" class="underline font-bold text-ivanhoe-slate hover:text-electric-peach">
        Back to Home
    </a>
</div>